#sobreMi{
    
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);

    height: 100vh;
    background: #969494;
    border: 1px solid #2E4A47;
    border-radius: 2px;

}





#sobreMi #SM_foto{
    width: 951px;
    height: 674px;
    
    grid-row: 2/6;
    grid-column: 6/12;

    background-image: url('../src/images/SobreMi.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}



/* Sobre mi */

#sobreMi > h1{
    width:max-content;
    height: min-content;

    grid-row: 3;
    grid-column: 2/5;

    margin: 0px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;

    display: flex;
    align-items: center;

    color: #C9821F;
}


/* Line 1 */

#sobreMi > hr{
    position: absolute;
    width: 1635px;
    height: 0px;
    left: 123px;
    top: 840px;

    border: 4px solid rgba(69, 132, 125, 0.45);
    transform: rotate(-0.04deg);
}



/* Frame 6 
    position: relative;
    visibility: hidden;
    width: 1920px;
    height: 959px;
    left: 0px;
    top: 0px;
*/


/* Rectangle 1 */
#sobreMi #SM_text{
    position: absolute;
    width: 1002px;
    height: 364px;
    left: 123px;
    top: 475px;

    background: rgba(69, 132, 125, 0.15);
    filter: blur(10.45px);
    backdrop-filter: blur(36.05px);
    /* Note: backdrop-filter has minimal browser support */
}



/* Hola, soy Manuel, un fotógrafo especializado en retratos intimistas de personas y animales. Mi trabajo se centra en capturar la esencia más genuina y profunda de mis sujetos, explorando la conexión entre la luz, la expresión y el alma. Me esfuerzo por crear imágenes que transmitan emociones y cuenten historias personales, donde cada mirada y gesto revele algo único y auténtico. Si estás buscando algo más que una simple imagen, y quieres capturar la verdadera esencia de un momento o de alguien especial, me encantaría colaborar contigo y crear recuerdos visuales que perduren en el tiempo. */
#sobreMi > p{
    position: absolute;
    width: 945px;
    height: 288px;
    left: calc(50% - 945px/2 - 336.5px);
    top: 510px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}