/* ESTILOS HEADER - JULIO*/

header {
  background: url("../src/images/imagenFondoPrincipal.jpeg");
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#menu-navegacion {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  flex-direction: column;  /* Menú vertical inicialmente */
  position: fixed;
  top: 35vh;
  left: 0;
  width: 100%;  /* Ocupa todo el ancho */
}

#menu-navegacion.fixed {
  position: fixed;
  bottom: 0;  /* Fijado al bottom */
  left: 0;
  width: 100%;  /* Ocupa todo el ancho */
  display: flex;
  flex-direction: row;  /* Menú en fila */
  justify-content: center;  /* Centra los elementos horizontalmente */
  align-items: center;  /* Alineación vertical centrada */
  background-color: rgba(0, 0, 0, 0.7);  /* Fondo oscuro */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);  /* Sombra para profundidad */
  z-index: 1000;  /* Asegura que esté encima de otros elementos */
}

#menu-navegacion ul {
  display: flex;
  padding: 0;  /* Elimina cualquier padding de la lista */
  margin: 0;  /* Elimina cualquier margen de la lista */
}

#menu-navegacion li {
  list-style: none;  /* Elimina los puntos de la lista */
}

#menu-navegacion a {
  text-decoration: none;
  color: white;
  padding: 0.5em 1.5em;  /* Espaciado entre los elementos */
  font-size: 1.2em;
  display: inline-block;
  transition: color 0.3s ease;
}

#menu-navegacion a:hover {
  color: var(--color-secundario);  /* Color al hacer hover */
}

/* Para el caso de redes sociales (si quieres añadirlas en la parte inferior también) */
#redes-sociales {
  color: white;
  grid-column: 5 / 6;
  grid-row: 1;
  display: flex;
  gap: 3em;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.icono-red-social {
  font-size: 2em;
}

.icono-red-social:hover {
  cursor: pointer;
  color: var(--color-secundario);
  transform: scale(1.1);
  transition: all 0.5s ease;
}
