/* ESTILOS HEADER - JULIO*/

header {
  background: url("../src/images/imagenFondoPrincipal.jpeg");
  background-size: cover;

  height: 100vh;

  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#menu-navegacion {
  grid-column: 1;
  grid-row: 3;

  display: flex;
  flex-direction: column;  
  align-items: flex-start;

  position: absolute;
  top: 35vh;
  left: 0;

  width: 100%;

  transition: all 0.5s ease;
}

#menu-navegacion.fixed {
  position: fixed;
  bottom: 0;  
  left: 0;

  width: 100%;  

  display: flex;
  flex-direction: row;  
  justify-content: center;  
  align-items: center;  

  background-color: black;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 

  z-index: 1000; 

  height: 50px;
}

/* #menu-navegacion ul {
  display: flex;
  padding: 0;  
  margin: 0;  
} */

/* #menu-navegacion li {
  list-style: none;  
} */

#menu-navegacion a {
  text-decoration: none;

  color: white;

  padding: 0.5em 1.5em;  

  font-size: 1.2em;

  display: inline-block;

  transition: color 0.3s ease;
}

#menu-navegacion a:hover {
  color: var(--color-secundario);  
}

#menu-navegacion.fixed a {
  margin: 0 10px;
  font-size: 1em;
}

#redes-sociales {
  color: white;

  grid-column: 5 / 6;
  grid-row: 1;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3em;

  padding: 0;
}

.icono-red-social {
  font-size: 2em;
  color: white;
}

a .icono-red-social {
  color: white;
}

.icono-red-social:hover {
  cursor: pointer;
  color: var(--color-secundario);
  transform: scale(1.1);
  transition: all 0.5s ease;
}
